.replit
nonce
book/**
books/**
# node_modules
# <- Note: When commented out, `jszip` does not work because it is not included in the final bundle
replit.nix
.env
.gitmodules
.whitesource
.vscode/**
.vscode-test/**
src/**
.gitignore
.github/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
